<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ysm6kpn.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src = "script.js" defer></script>
    <title>RNBBIA</title>
</head>
<body>
    <nav class="navbar">
        <a class="homelink" href="#">
            <img src="resources/tumblr_phkofdZh1E1v3dkmxo1_400.png" alt="">
            <h1 class="brand-title">RNBBIA</h1>
        </a>
        <a href="#" class="square-menu">
          <span class ="square"></span>
          <span class ="square"></span>
          <span class ="square"></span>
          <span class ="square"></span>
          <span class ="square"></span>
          <span class ="square"></span>
          <span class ="square"></span>
          <span class ="square"></span>
          <span class ="square"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">This Week</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Connect</a></li>
            </ul>
        </div>
    </nav>

    
     <div class="content">
        <main>
            <div class="main-header">
            <h2>NEWS</h2>
            <div class="center-button">
              <a href="/articles/new">NEW ARTICLE</a>
            </div>
            </div>
            
            <% articles.forEach(article => { %>
                <article>
                    <img src="<%= article.imageFilePath %>" alt="">
                      <h3><%= article.title %></h3>
                      <p><%= article.genre %></p>
                </article>
            <% })%>
            
        </main>
    </div>

</body>
</html>